/* VARIABLES */
:root {
    --main-color: rgb(206, 71, 71);
    --main-color-hover: rgb(250, 145, 145);
    --box-shadow: 0 1px 4px rgba(146, 161, 176, 0.4);
    --box-shadow-hover: 0 1px 4px rgba(91, 99, 107, 0.8);
  }


/* SEARCH BUTTON */
.searchButton .submit {
    background-color: var(--main-color);
    font-size: 23px;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    color: white;
}
/* loading overlay div with animation */
#loading{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #00000080;
  background-image: url(../img/loading_pot.gif);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  font-weight: 900;
  font-size: 2em;
  color: #8bc34a;
}
/* DRINKS CARD */
.card {
  background-color: var(--main-color);
  border-radius: 0px;
  margin-left: 10px;
}

.card-img-top {
  margin-top: 10px;
  border-radius: 0px;
}

.btn-success {
  background-color: rgb(160, 160, 149);
  color: black;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.btn-success:hover {
  background-color: rgb(104, 104, 95);
}

.prevSearch {
  background-color: var(--main-color);
  border: none;
  font-size: 18px;
  padding: 5px 25px 5px 25px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px 10px 20px 10px
}

.prevSearch:hover {
  background-color: var(--main-color-hover);
  border: none;
  font-size: 18px;
  padding: 5px 25px 5px 25px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-hover);
  color: white;
  margin: 20px 10px 20px 10px
}

.modalBtn {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 15px;
}

.modalBtn:hover {
  background-color: var(--main-color-hover);
  box-shadow: var(--box-shadow-hover);
  border: none;
  border-radius: 15px;
}

.modal-title {
  font-size: 21px;
  font-weight: 700;
}

#result-card {
  position: relative;
  cursor: pointer;
  margin:5px;
  box-shadow: var(--box-shadow);
}
#result-card:hover{
  box-shadow: var(--box-shadow-hover);
}
.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-decoration: none;
}

#results-row {
  justify-content: space-between;
}

#img-div{border: 2px solid var(--main-color)}

#img-div, #body-div{
  position: relative;
}

div #recipe-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
}

.recipe-row{
  border: 1px solid black;
  padding:30px;
 justify-content: space-evenly;

  
}

#recipe-image,#drink-card,#nutrition,#recipe-info,#vid-modal{
  border: 1px dotted black;
  margin:20px;
 
 
  
  
}

#drink-card{
  background-color: pink;
}
#nutrition{
  background-color: rgb(160, 60, 160);
}

#recipe-info{
  background-color: teal;
  overflow-y: scroll;
  margin-left: 60px;
}

#vid-modal{
  background-color: yellow;
}

#recipe-image{
  background-color: brown;
}

