/* VARIABLES */
:root {
    --main-color: rgb(206, 71, 71);
  }


/* SEARCH BUTTON */
.searchbutton .submit {
    background-color: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    color: white;
}